# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###
/WebProgramming/Excercise01/nbproject/private/
/WebProgramming/Excercise01/build/
/WebProgramming/Excercise02/nbproject/private/
/WebProgramming/Excercise02/build/
/WebProgramming/LoginPage/nbproject/private/
/WebProgramming/LoginPage/build/
/WebProgramming/LoginPage/dist/
/WebProgramming/Excercise02/dist/
/WebProgramming/Excercise01/dist/
/WebProgramming/ProfessorExcercises/Exercises/Example01/build/
/WebProgramming/ProfessorExcercises/Exercises/Example01/dist/
/WebProgramming/ProfessorExcercises/Exercises/Example01/nbproject/private/
/WebProgramming/ProfessorExcercises/Exercises/Exercise01/build/
/WebProgramming/ProfessorExcercises/Exercises/Exercise01/nbproject/private/
/WebProgramming/ProfessorExcercises/Lab04/Example01/build/
/WebProgramming/ProfessorExcercises/Lab04/Example01/dist/
/WebProgramming/ProfessorExcercises/Lab04/Example01/nbproject/private/
/WebProgramming/ProfessorExcercises/Lab04/Exercise01/build/
/WebProgramming/ProfessorExcercises/Lab04/Exercise01/nbproject/private/